In [1]:
#!pip install streamlit

In [2]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
from math import pi, sin, cos
from datetime import datetime
from holidays_es import get_provinces, Province
import sys
import streamlit as st

In [3]:
d = st.date_input("When's your birthday",datetime.now())
date=d

2022-09-01 16:37:08.417
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/juancastro/.pyenv/versions/3.8.12/envs/bicimad/lib/python3.8/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [4]:
t = st.time_input('Set an alarm for', datetime.now())
time=t.hour
type(t)

datetime.time

In [5]:
name='Puerta del Sol B'

In [6]:
holidays=[]
for year in [2018,2019,2020,2021]:
    temp = Province(name="madrid", year=year).holidays()
    for day in range(len(temp['national_holidays'])):
        holidays.append(temp['national_holidays'][day])
    for day in range(len(temp['regional_holidays'])):
        holidays.append(temp['regional_holidays'][day])
    for day in range(len(temp['local_holidays'])):
        holidays.append(temp['local_holidays'][day])

holidays

[datetime.date(2018, 1, 1),
 datetime.date(2018, 1, 6),
 datetime.date(2018, 3, 30),
 datetime.date(2018, 5, 1),
 datetime.date(2018, 8, 15),
 datetime.date(2018, 10, 12),
 datetime.date(2018, 11, 1),
 datetime.date(2018, 12, 6),
 datetime.date(2018, 12, 8),
 datetime.date(2018, 12, 25),
 datetime.date(2018, 3, 29),
 datetime.date(2018, 5, 2),
 datetime.date(2018, 5, 15),
 datetime.date(2018, 11, 9),
 datetime.date(2019, 1, 1),
 datetime.date(2019, 4, 19),
 datetime.date(2019, 5, 1),
 datetime.date(2019, 8, 15),
 datetime.date(2019, 10, 12),
 datetime.date(2019, 11, 1),
 datetime.date(2019, 12, 6),
 datetime.date(2019, 12, 25),
 datetime.date(2019, 1, 7),
 datetime.date(2019, 4, 18),
 datetime.date(2019, 5, 2),
 datetime.date(2019, 12, 9),
 datetime.date(2019, 5, 15),
 datetime.date(2019, 11, 9),
 datetime.date(2020, 1, 1),
 datetime.date(2020, 1, 6),
 datetime.date(2020, 4, 10),
 datetime.date(2020, 5, 1),
 datetime.date(2020, 8, 15),
 datetime.date(2020, 10, 12),
 datetime.date(2020, 12, 8),
 datetime.date(2020, 12, 25),
 datetime.date(2020, 4, 9),
 datetime.date(2020, 5, 2),
 datetime.date(2020, 11, 2),
 datetime.date(2020, 12, 7),
 datetime.date(2020, 5, 15),
 datetime.date(2020, 11, 9),
 datetime.date(2021, 1, 1),
 datetime.date(2021, 1, 6),
 datetime.date(2021, 4, 2),
 datetime.date(2021, 5, 1),
 datetime.date(2021, 10, 12),
 datetime.date(2021, 11, 1),
 datetime.date(2021, 12, 6),
 datetime.date(2021, 12, 8),
 datetime.date(2021, 12, 25),
 datetime.date(2021, 3, 19),
 datetime.date(2021, 4, 1),
 datetime.date(2021, 5, 3),
 datetime.date(2021, 5, 15),
 datetime.date(2021, 11, 9)]

In [7]:
holiday= date in holidays

In [8]:
df = pd.read_csv('../raw_data/station_1.csv')

In [9]:
columns=['activate', 'name', 'reservations_count', 'light', 'total_bases',
       'free_bases', 'number', 'longitude', 'no_available', 'address',
       'latitude', 'dock_bikes', 'id', 'time', 'date', 'holidays', 'datetime',
       'feels_like', 'weather_main', 'weekday', 'year', 'month', 'hour_sin',
       'hour_cos', 'weekday_sin', 'weekday_cos', 'month_sin', 'month_cos']

In [10]:
temp = pd.DataFrame(columns=columns)

In [11]:
datetime=(str(date)+str(time))

In [12]:
weekday=date.weekday()

In [13]:
year=date.year

In [14]:
month=date.month

In [15]:
hour_sin=  sin(time / 24.0 * 2 * pi)
hour_cos=  cos(time / 24.0 * 2 * pi)
weekday_sin= sin(weekday / 7.0 * 2 * pi)
weekday_cos=  cos(weekday / 7.0 * 2 * pi)
month_sin=  sin(((month - 5) % 12) / 12.0 * 2 * pi)
month_cos= cos(((month - 5) % 12) / 12.0 * 2 * pi)

In [16]:
new_row={'activate':1, 'name':name, 'reservations_count':0, 'light':0, 'total_bases':30,
       'free_bases':28, 'number':'1b', 'longitude':-3.701603, 'no_available':0, 'address':'Puerta del Sol nº 1',
       'latitude':-3.701603, 'dock_bikes':0, 'id':(str(date)+'T'+str(time)), 'time':time, 'date':date, 'holidays':holiday, 'datetime':datetime,
       'feels_like':17.44, 'weather_main':'Rain', 'weekday':weekday, 'year':year, 'month':month, 'hour_sin':hour_sin,
       'hour_cos':hour_cos, 'weekday_sin':weekday_sin, 'weekday_cos':weekday_cos, 'month_sin':month_sin, 'month_cos':month_cos}

In [17]:
temp = pd.DataFrame(columns=columns)
type(temp)

pandas.core.frame.DataFrame

In [18]:
temp=temp.append(new_row,ignore_index=True)

/var/folders/hr/jf_0d1t95b98cmbwydqdzvzh0000gn/T/ipykernel_67728/3900823188.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp=temp.append(new_row,ignore_index=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25862 entries, 0 to 25861
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   activate            25862 non-null  int64
 1   name                25862 non-null  object
 2   reservations_count  25862 non-null  int64
 3   light               25862 non-null  int64
 4   total_bases         25862 non-null  int64
 5   free_bases          25862 non-null  int64
 6   number              25862 non-null  object
 7   longitude           25862 non-null  float64
 8   no_available        25862 non-null  int64
 9   address             25862 non-null  object
 10  latitude            25862 non-null  float64
 11  dock_bikes          25862 non-null  int64
 12  id                  25862 non-null  object
 13  time                25862 non-null  int64
 14  date                25862 non-null  object
 15  holidays            25862 non-null  bool
 16  datetime            25862 non-null  object
 17  feels_like          25862 non-null  float64
 18  weather_main        25862 non-null  object
 19  weekday             25862 non-null  int64
 20  year                25862 non-null  int64
 21  month               25862 non-null  int64
 22  hour_sin            25862 non-null  float64
 23  hour_cos            25862 non-null  float64
 24  weekday_sin         25862 non-null  float64
 25  weekday_cos         25862 non-null  float64
 26  month_sin           25862 non-null  float64
 27  month_cos           25862 non-null  float64
dtypes: bool(1), float64(9), int64(11), object(7)
memory usage: 5.4+ MB

In [20]:
temp.head()

,activate,name,reservations_count,light,total_bases,free_bases,number,longitude,no_available,address,...,weather_main,weekday,year,month,hour_sin,hour_cos,weekday_sin,weekday_cos,month_sin,month_cos
0,1,Puerta del Sol B,0,0,30,28,1b,-3.701603,0,Puerta del Sol nº 1,...,Rain,3,2022,9,-0.866025,-0.5,0.433884,-0.900969,0.866025,-0.5

In [21]:
dict_type=temp.columns.to_series().groupby(df.dtypes).groups
dict_type

{bool: ['holidays'], int64: ['activate', 'reservations_count', 'light', 'total_bases', 'free_bases', 'no_available', 'dock_bikes', 'time', 'weekday', 'year', 'month'], float64: ['longitude', 'latitude', 'feels_like', 'hour_sin', 'hour_cos', 'weekday_sin', 'weekday_cos', 'month_sin', 'month_cos'], object: ['name', 'number', 'address', 'id', 'date', 'datetime', 'weather_main']}

In [22]:
for column in ['activate', 'reservations_count', 'light', 'total_bases', 'free_bases', 'no_available', 'dock_bikes', 'time', 'weekday', 'year', 'month']:
    temp[column]=temp[column].astype('int64')

In [23]:
temp['holidays']=temp['holidays'].astype('bool')
temp.drop(columns=["name","longitude","address","month","time","weekday"])
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   activate            1 non-null      int64
 1   name                1 non-null      object
 2   reservations_count  1 non-null      int64
 3   light               1 non-null      int64
 4   total_bases         1 non-null      int64
 5   free_bases          1 non-null      int64
 6   number              1 non-null      object
 7   longitude           1 non-null      float64
 8   no_available        1 non-null      int64
 9   address             1 non-null      object
 10  latitude            1 non-null      float64
 11  dock_bikes          1 non-null      int64
 12  id                  1 non-null      object
 13  time                1 non-null      int64
 14  date                1 non-null      object
 15  holidays            1 non-null      bool
 16  datetime            1 non-null      object
 17  feels_like          1 non-null      float64
 18  weather_main        1 non-null      object
 19  weekday             1 non-null      int64
 20  year                1 non-null      int64
 21  month               1 non-null      int64
 22  hour_sin            1 non-null      float64
 23  hour_cos            1 non-null      float64
 24  weekday_sin         1 non-null      float64
 25  weekday_cos         1 non-null      float64
 26  month_sin           1 non-null      float64
 27  month_cos           1 non-null      float64
dtypes: bool(1), float64(9), int64(11), object(7)
memory usage: 345.0+ bytes

In [25]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
from math import pi, sin, cos

from sklearn.preprocessing import StandardScaler, OneHotEncoder






def encode_columns(df):
    temp = df 
    #Transform the data
    f_transformer = StandardScaler()
    df[['activate', 'reservations_count', 'light', 'total_bases', 'free_bases', 'longitude', 'no_available', 'latitude', 'time',
       'feels_like', 'weekday', 'year', 'month', 'hour_sin', 'hour_cos',
        'weekday_sin', 'weekday_cos', 'month_sin', 'month_cos']] = f_transformer.fit_transform(df[['activate', 'reservations_count', 'light', 'total_bases', 'free_bases', 'longitude', 'no_available', 'latitude', 'time',
       'feels_like', 'weekday', 'year', 'month', 'hour_sin', 'hour_cos',
        'weekday_sin', 'weekday_cos', 'month_sin', 'month_cos']])

    temp.holidays = temp.holidays.astype('int')
    temp_model = temp.drop(columns=['name', 'number', 'address', 'id'])

    #Encode the data
    ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
    categorical_features = ['year', 'month', 'weekday', 'weather_main']
    transformed_data = pd.DataFrame(ohe.fit_transform(temp_model[categorical_features]))
    transformed_data.columns = ohe.get_feature_names(categorical_features)
    concatenated_data = pd.concat([temp_model, transformed_data], axis=1)
    temp_model = concatenated_data.drop(columns=['year', 'month', 'weekday', 'weather_main','date'])
    temp_model['datetime'] = temp_model['datetime'].apply(lambda x: x[0:10]+' '+x[10:]+':00')
    temp_model['datetime']=pd.to_datetime(temp_model['datetime'], format='%Y-%m-%d %H:%M:%S')
    temp_model = temp_model.set_index('datetime')
    temp_model.sort_values(by='datetime')
    return temp_model

In [27]:
temp

,activate,name,reservations_count,light,total_bases,free_bases,number,longitude,no_available,address,...,weather_main,weekday,year,month,hour_sin,hour_cos,weekday_sin,weekday_cos,month_sin,month_cos
0,0.0,Puerta del Sol B,0.0,0.0,0.0,0.0,1b,0.0,0.0,Puerta del Sol nº 1,...,Rain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
encode_columns(temp)

/Users/juancastro/.pyenv/versions/3.8.12/envs/bicimad/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,activate,reservations_count,light,total_bases,free_bases,longitude,no_available,latitude,dock_bikes,time,...,hour_sin,hour_cos,weekday_sin,weekday_cos,month_sin,month_cos,year_0.0,month_0.0,weekday_0.0,weather_main_Rain
datetime,,,,,,,,,,,,,,,,,,,,,
2022-09-01 16:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0